<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./imagestyles.css" />
    <title>Images</title>
  </head>
  <body>
    <h1>Responsive</h1>
    <div class="responsive-img">
      <div class="image">
        <a
          target="_blank"
          href="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2211749/2018/5/18/136ea17e-0c65-46c5-bd1f-1b64b151f0121526641430882-Roadster-Men-Blue-Analogue-Watch-MFB-PN-WTH-S9689G-1561526641430612-1.jpg"
        >
          <img
            src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2211749/2018/5/18/136ea17e-0c65-46c5-bd1f-1b64b151f0121526641430882-Roadster-Men-Blue-Analogue-Watch-MFB-PN-WTH-S9689G-1561526641430612-1.jpg"
            alt="Cinque Terre"
            width="600"
            height="400"
          />
        </a>
        <div class="img-desc">Add a description of the image here</div>
      </div>
    </div>
    <div class="responsive-img">
      <div class="image">
        <a
          target="_blank"
          href="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2211749/2018/5/18/136ea17e-0c65-46c5-bd1f-1b64b151f0121526641430882-Roadster-Men-Blue-Analogue-Watch-MFB-PN-WTH-S9689G-1561526641430612-1.jpg"
        >
          <img
            src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2211749/2018/5/18/136ea17e-0c65-46c5-bd1f-1b64b151f0121526641430882-Roadster-Men-Blue-Analogue-Watch-MFB-PN-WTH-S9689G-1561526641430612-1.jpg"
            alt="Cinque Terre"
            width="600"
            height="400"
          />
        </a>
        <div class="img-desc">Add a description of the image here</div>
      </div>
    </div>
    <div class="responsive-img">
      <div class="image">
        <a
          target="_blank"
          href="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2211749/2018/5/18/136ea17e-0c65-46c5-bd1f-1b64b151f0121526641430882-Roadster-Men-Blue-Analogue-Watch-MFB-PN-WTH-S9689G-1561526641430612-1.jpg"
        >
          <img
            src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2211749/2018/5/18/136ea17e-0c65-46c5-bd1f-1b64b151f0121526641430882-Roadster-Men-Blue-Analogue-Watch-MFB-PN-WTH-S9689G-1561526641430612-1.jpg"
            alt="Cinque Terre"
            width="600"
            height="400"
          />
        </a>
        <div class="img-desc">Add a description of the image here</div>
      </div>
    </div>
    <div class="responsive-img">
      <div class="image">
        <a
          target="_blank"
          href="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2211749/2018/5/18/136ea17e-0c65-46c5-bd1f-1b64b151f0121526641430882-Roadster-Men-Blue-Analogue-Watch-MFB-PN-WTH-S9689G-1561526641430612-1.jpg"
        >
          <img
            src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2211749/2018/5/18/136ea17e-0c65-46c5-bd1f-1b64b151f0121526641430882-Roadster-Men-Blue-Analogue-Watch-MFB-PN-WTH-S9689G-1561526641430612-1.jpg"
            alt="Cinque Terre"
            width="600"
            height="400"
          />
        </a>
        <div class="img-desc">Add a description of the image here</div>
      </div>
    </div>
    <div class="responsive-img">
      <div class="image">
        <a
          target="_blank"
          href="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2211749/2018/5/18/136ea17e-0c65-46c5-bd1f-1b64b151f0121526641430882-Roadster-Men-Blue-Analogue-Watch-MFB-PN-WTH-S9689G-1561526641430612-1.jpg"
        >
          <img
            src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2211749/2018/5/18/136ea17e-0c65-46c5-bd1f-1b64b151f0121526641430882-Roadster-Men-Blue-Analogue-Watch-MFB-PN-WTH-S9689G-1561526641430612-1.jpg"
            alt="Cinque Terre"
            width="600"
            height="400"
          />
        </a>
        <div class="img-desc">Add a description of the image here</div>
      </div>
    </div>
    <div class="responsive-img">
      <div class="image">
        <a
          target="_blank"
          href="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2211749/2018/5/18/136ea17e-0c65-46c5-bd1f-1b64b151f0121526641430882-Roadster-Men-Blue-Analogue-Watch-MFB-PN-WTH-S9689G-1561526641430612-1.jpg"
        >
          <img
            src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2211749/2018/5/18/136ea17e-0c65-46c5-bd1f-1b64b151f0121526641430882-Roadster-Men-Blue-Analogue-Watch-MFB-PN-WTH-S9689G-1561526641430612-1.jpg"
            alt="Cinque Terre"
            width="600"
            height="400"
          />
        </a>
        <div class="img-desc">Add a description of the image here</div>
      </div>
    </div>
    <div class="responsive-img">
      <div class="image">
        <a
          target="_blank"
          href="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2211749/2018/5/18/136ea17e-0c65-46c5-bd1f-1b64b151f0121526641430882-Roadster-Men-Blue-Analogue-Watch-MFB-PN-WTH-S9689G-1561526641430612-1.jpg"
        >
          <img
            src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2211749/2018/5/18/136ea17e-0c65-46c5-bd1f-1b64b151f0121526641430882-Roadster-Men-Blue-Analogue-Watch-MFB-PN-WTH-S9689G-1561526641430612-1.jpg"
            alt="Cinque Terre"
            width="600"
            height="400"
          />
        </a>
        <div class="img-desc">Add a description of the image here</div>
      </div>
    </div>

    <div class="responsive-img responsive-round-img">
      <div class="image">
        <a
          target="_blank"
          href="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2211749/2018/5/18/136ea17e-0c65-46c5-bd1f-1b64b151f0121526641430882-Roadster-Men-Blue-Analogue-Watch-MFB-PN-WTH-S9689G-1561526641430612-1.jpg"
        >
          <img
            class="round-img"
            src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2211749/2018/5/18/136ea17e-0c65-46c5-bd1f-1b64b151f0121526641430882-Roadster-Men-Blue-Analogue-Watch-MFB-PN-WTH-S9689G-1561526641430612-1.jpg"
            alt="Cinque Terre"
            width="600"
            height="400"
          />
        </a>
      </div>
    </div>
  </body>
</html>
