<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./Cardstyles.css" />
    <title>Document</title>
  </head>
  <body>
    
      <h1>Card with Badges</h1>
      <div class="cards">
        <div class="card">
          <img
            class="card-img"
            src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2211749/2018/5/18/136ea17e-0c65-46c5-bd1f-1b64b151f0121526641430882-Roadster-Men-Blue-Analogue-Watch-MFB-PN-WTH-S9689G-1561526641430612-1.jpg"
            alt=""
          />
          <span class="left-badge"><small>New</small></span>
        </div>
        <div class="card">
          <img
            class="card-img"
            src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2211749/2018/5/18/136ea17e-0c65-46c5-bd1f-1b64b151f0121526641430882-Roadster-Men-Blue-Analogue-Watch-MFB-PN-WTH-S9689G-1561526641430612-1.jpg"
            alt=""
          />
          <span class="left-badge"><small>New</small></span>
          <span class="right-badge"><small>Discount</small></span>
        </div>
      </div>
      <h1>Card with Dismiss</h1>
      <div class="cards">
        <div class="card">
          <img
            class="card-img"
            src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2211749/2018/5/18/136ea17e-0c65-46c5-bd1f-1b64b151f0121526641430882-Roadster-Men-Blue-Analogue-Watch-MFB-PN-WTH-S9689G-1561526641430612-1.jpg"
            alt=""
          />
          <span class="dismiss-badge">x</span>
        </div>
      </div>

      <h1>Card with Text Overlay</h1>
      <div class="cards">
      <div class="card card-with-text">
        <img
          class="card-img"
          src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2211749/2018/5/18/136ea17e-0c65-46c5-bd1f-1b64b151f0121526641430882-Roadster-Men-Blue-Analogue-Watch-MFB-PN-WTH-S9689G-1561526641430612-1.jpg"
          alt=""
        />
        <div class="card-details">
        <h3 class="brand-name">Roadster</h3>
        <h4 class="product-name">Men Analogue Watch</h4>
        
        <div class="product-price">
          <small>Rs. 1574 <s>Rs 3499</s> (55% Off)</small>
        </div >
       
      </div>
      </div>
        <div class="card card-with-text">
          <img
            class="card-img"
            src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2211749/2018/5/18/136ea17e-0c65-46c5-bd1f-1b64b151f0121526641430882-Roadster-Men-Blue-Analogue-Watch-MFB-PN-WTH-S9689G-1561526641430612-1.jpg"
            alt=""
          />
          <div class="card-details">
          <h3 class="brand-name">Roadster</h3>
          <h4 class="product-name">Men Analogue Watch</h4>
          
          <div class="product-price">
            <small>Rs. 1574 <s>Rs 3499</s> (55% Off)</small>
          </div >
         
        </div>
        </div>
      </div>
    
     <div class="cards">
      <div class="card horizontal-card-with-text">
        <img
          class="horizontal-card-img"
          src="https://assets.myntassets.com/dpr_2,q_60,w_210,c_limit,fl_progressive/assets/images/2211749/2018/5/18/136ea17e-0c65-46c5-bd1f-1b64b151f0121526641430882-Roadster-Men-Blue-Analogue-Watch-MFB-PN-WTH-S9689G-1561526641430612-1.jpg"
          alt=""
        />
        <div class="card-details">
        <h4 class="product-details">100% Original Products</h4>
        <h4 class="product-details">Free Delivery on order above Rs. 799</h4>
        <h4 class="product-details">Pay on delivery might be available</h4>
        <h4 class="product-details">Easy 30 days returns</h4>
        <h4 class="product-details">This item is only returnable and not exchangeable</h4>
        <h4 class="product-details">This item is only returnable and not exchangeable</h4>
       
      </div>
      </div>
    </div>>
<h1>Card with Text Overlay</h1>
    <div class="cards">
      <div class="card card-with-text-overlay">
        <img
          class="text-overlay-card-image"
          src="https://pixselo.com/wp-content/uploads/2018/03/dummy-placeholder-image-400x400.jpg"
          alt=""
        />
        <span class="overlay-text">OUT OF STOCK</span>
        <div class="card-details">
          <h3 class="brand-name">Roadster</h3>
          <h4 class="product-name">Men Analogue Watch</h4>
          
          <div class="product-price">
            <small>Rs. 1574 <s>Rs 3499</s> (55% Off)</small>
          </div >
         
        </div>
      </div>
    </div>>
    <h1>Card with only Text</h1>
    <div class="cards">
      <div class="card text-card">
        
      
        <div class="card-details">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis exercitationem possimus voluptatibus, at hic illo. Atque praesentium, voluptatum id dolore ad enim quisquam libero cupiditate, sit soluta molestiae corporis doloribus!</p>
          
         <button class="primary-btn">Primary</button>
         <button class="secondary-btn">Secondary</button>
        </div>
      </div>
    </div>>
  </body>
</html>
