<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./avatarstyles.css" />
    <title>Avatars Component</title>
  </head>
  <body>
    <div class="avatars">
      <h1>Avatars</h1>
      <h2>Image Avatars</h2>
      <div class="avatar-images">
        <img
          class="small-avatar"
          src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-9/24131585_1571374906276687_711347645622454609_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=174925&_nc_ohc=wD4SYfDWQfMAX-5x9p2&_nc_ht=scontent-bom1-1.xx&oh=dd07f6352ccd84881847abe318416473&oe=606C5842"
          alt=""
        />
        <img
          class="small-avatar"
          src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-9/24131585_1571374906276687_711347645622454609_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=174925&_nc_ohc=wD4SYfDWQfMAX-5x9p2&_nc_ht=scontent-bom1-1.xx&oh=dd07f6352ccd84881847abe318416473&oe=606C5842"
          alt=""
        />
        <img
          class="small-avatar"
          src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-9/24131585_1571374906276687_711347645622454609_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=174925&_nc_ohc=wD4SYfDWQfMAX-5x9p2&_nc_ht=scontent-bom1-1.xx&oh=dd07f6352ccd84881847abe318416473&oe=606C5842"
          alt=""
        />
      </div>
      <button id="copy-css-btn">Copy CSS</button>

      <h2>Letter Avatars</h2>
      
        <div class="avatar-images">
          <span class="single-letter-avatar">A</span>
          <span class="double-letter-avatar ">AS</span>
         
        </div>
      
      <button id="copy-css-btn">Copy CSS</button>

      <h2>Sizes</h2>
      <div class="avatar-images">
        <img
          class="small-avatar"
          src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-9/24131585_1571374906276687_711347645622454609_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=174925&_nc_ohc=wD4SYfDWQfMAX-5x9p2&_nc_ht=scontent-bom1-1.xx&oh=dd07f6352ccd84881847abe318416473&oe=606C5842"
          alt=""
        />
        <img
          class="medium-avatar"
          src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-9/24131585_1571374906276687_711347645622454609_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=174925&_nc_ohc=wD4SYfDWQfMAX-5x9p2&_nc_ht=scontent-bom1-1.xx&oh=dd07f6352ccd84881847abe318416473&oe=606C5842"
          alt=""
        />
        <img
          class="big-avatar"
          src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-9/24131585_1571374906276687_711347645622454609_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=174925&_nc_ohc=wD4SYfDWQfMAX-5x9p2&_nc_ht=scontent-bom1-1.xx&oh=dd07f6352ccd84881847abe318416473&oe=606C5842"
          alt=""
        />
      </div>
      <button id="copy-css-btn">Copy CSS</button>
      <h2>Variants</h2>
      <div class="avatar-images">
        <img
          class="square-avatar"
          src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-9/24131585_1571374906276687_711347645622454609_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=174925&_nc_ohc=wD4SYfDWQfMAX-5x9p2&_nc_ht=scontent-bom1-1.xx&oh=dd07f6352ccd84881847abe318416473&oe=606C5842"
          alt=""
        />
        
        
      </div>
      <button id="copy-css-btn">Copy CSS</button>
      <h2>Badge Avatars</h2>
      <div class="avatar-images">
        <div>
        <img
          class="medium-avatar "
          src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-9/24131585_1571374906276687_711347645622454609_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=174925&_nc_ohc=wD4SYfDWQfMAX-5x9p2&_nc_ht=scontent-bom1-1.xx&oh=dd07f6352ccd84881847abe318416473&oe=606C5842"
          alt=""
        />
        <span class="avatar-badge"></span>

        <!-- <img class="avatar-badge" src="https://img.icons8.com/emoji/48/000000/green-circle-emoji.png" alt=""/> -->
        
          <img
            class="medium-avatar "
            src="https://scontent-bom1-1.xx.fbcdn.net/v/t1.0-9/24131585_1571374906276687_711347645622454609_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=174925&_nc_ohc=wD4SYfDWQfMAX-5x9p2&_nc_ht=scontent-bom1-1.xx&oh=dd07f6352ccd84881847abe318416473&oe=606C5842"
            alt=""
          />
          <img class="avatar-on-avatar" src="https://pbs.twimg.com/profile_images/1339286888180379649/dKntjLzq_400x400.jpg" alt=""/>
          </div>
        </div>
      <button id="copy-css-btn">Copy CSS</button>
    </div>
   
  </body>
</html>
