<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./toaststyles.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>Successfully Added Toast</h1>
    <button class="toastBtn1">Add to Cart</button>
    <div class="toastDesc1">Item was successfully added into the cart</div>

    <h1>Successfully Added Toast</h1>
    <button class="toastBtn2">Load Data From Server</button>
    <div class="toastDesc2">There was an error to fetch the data</div>
    <script src="../../script.js"></script>
  </body>
</html>
