.avatar-images {
  border: 1px solid var(--gray-border);
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  margin: var(--margin-width);
  display: flex;
}
.avatar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.avatar-sm {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}
.avatar-md {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
}
.avatar-lg {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
}
.double-letter-avatar {
  background-color: var(--avatar-letter-color);
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  border-radius: 50%;
}
.single-letter-avatar {
  background-color: var(--avatar-letter-color);
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  border-radius: 50%;
}
.avatar-badge {
  position: relative;
  border: 2px solid var(--white-border);
  border-radius: 50%;
  padding: 0rem 0.5rem;
  right: 1rem;
  bottom: 0.5rem;
}
.green-dot {
  background-color: var(--green-color);
}
.red-dot {
  background-color: var(--red-color);
}
@media only screen and (max-width: 1200px) {
  .avatar-images {
    flex-direction: column;
  }
  .avatar {
    flex-direction: row;
    justify-content: space-around;
  }
}
