.card-img {
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.card {
  position: relative;
  width: 30%;
  margin: var(--margin-width);
  box-shadow: 0 0 10px 2px var(--box-shadow-color);
  border-radius: 10px;
  overflow: hidden;
}
.card:hover {
  transition: 0.3s;
  transform: scale(1.03);
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.card-badge {
  padding: 0.1rem 0.3rem;
  position: absolute;
  color: var(--white-color);
  cursor: pointer;
}
.blue-bg {
  background-color: var(--blue-badge-color);
}
.pink-bg {
  background-color: var(--pink-badge-color);
}
.badge-btn {
  position: absolute;
  color: var(--white-color);
  cursor: pointer;
}
.left {
  left: 0;
  top: 3rem;
}
.right {
  right: 0;
  top: 3rem;
}
.top-right {
  right: 1rem;
  top: 1rem;
}
.card-with-text {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}
.card-text-title {
  padding-bottom: 0.3rem;
}
.desc {
  padding-bottom: 0.3rem;
}
.bold {
  font-weight: bold;
}
.horizontal-card-img {
  width: 50%;
  cursor: pointer;
}
.horizontal-card-details {
  margin: 0;
  padding: 1rem 0.5rem;
  border: 1px solid var(--gray-border);
  border-left: 0;
}
.horizontal-card-with-text {
  display: flex;
  height: 100%;
  width: 60%;
  font-size: 1rem;
}
.text-overlay-card-image {
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.card-with-text-overlay {
  display: flex;
  height: 100%;
  width: 70%;
  font-size: 1rem;
}
.overlay-text {
  position: absolute;
  font-weight: 500;
  font-size: large;
  color: var(--overlay-text-color);
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
}
.text-card {
  border: 1px solid var(--gray-border);
  text-align: justify;
  width: 50%;
}
.card-details {
  margin: 0;
  padding: 1rem 0.5rem;
}
.card-btn {
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
}
.grayed-img {
  opacity: 0.3;
}
@media only screen and (min-width: 1100px) {
  .card {
    width: 22%;
  }
  .horizontal-card-with-text {
    width: 50%;
  }
  .text-card {
    width: 60%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 800px) {
  .card {
    width: 40%;
  }
  .horizontal-card-with-text {
    width: 80%;
  }
  .horizontal-card-img {
    cursor: pointer;
  }
  .text-card {
    width: 60%;
  }
}
@media only screen and (max-width: 600px) {
  .card {
    width: 50%;
  }
  .horizontal-card-with-text {
    width: 50%;
    flex-direction: column;
  }
  .horizontal-card-img {
    width: 100%;
    cursor: pointer;
  }
  .horizontal-card-details {
    border: 1px solid var(--gray-border);
    border-top: 0;
  }
  .text-card {
    width: 80%;
  }
}
