.image {
    border: 1px solid;
  }
  .image:hover {
    border: 1px solid var(--gray-border);
  }
  img {
    width: 100%;
    height: auto;
  }
  .img-desc {
    text-align: start;
    padding: 0.5rem;
  }
  .images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .responsive-img {
    /* float: left; */
    padding: 1rem;
    width: 25%;
  }
  .round-img {
    border: 1px solid var(--gray-border);
    border-radius: 50%;
    width:300px;
    height:300px; 
  }
  @media only screen and (max-width: 1300px) {
    .responsive-img {
      width: 30%;
    }
  }
  @media only screen and (max-width: 800px) {
    .responsive-img {
      width: 50%;
    }
  }
  @media only screen and (max-width: 500px) {
    .responsive-img {
      width: 100%;
    }
  }
  