.image {
    border: 1px solid  ;
  }
  .image:hover {
    border: 1px solid var(--gray-border);
  }
  img {
    width: 100%;
    height: auto;
  }
  * {
    box-sizing: border-box;
  }
  .img-desc {
    text-align: start;
    padding: 0.5rem;
  }
  .responsive-img {
    width: 24.99%;
    float: left;
    padding: 1rem;
  }
  .round-img {
    border: 1px solid var(--gray-border);
    border-radius: 50%;
    width:300px;
    height:300px; 
  }
  @media only screen and (max-width: 1300px) {
    .responsive-img {
      width: 33.3%;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .responsive-img {
      width: 50%;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive-img {
      width: 100%;
    }
  }
  