.simple-textbox,
.filled-textbox,
.validation-textbox {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid var(--gray-border);
  border-radius: 5px;
  margin: var(--margin-width);
  padding: 1rem;
}
.textbox {
  padding: 0.5rem 0.5rem;
  border: none;
  border-bottom: 1px solid;
  font-size: large;
  margin: var(--margin-width);
  margin-top: 0;
}
.filled {
  background-color: var(--filled-color);
  padding: 1rem;
}
.outlined {
  border: 1px solid;
  padding: 1rem;
  border-radius: 3px;
}
.text-label {
  margin: var(--margin-width);
  margin-bottom: 0;
  font-size: 1rem;
  line-height: 1;
  font-weight: 400;
}
#form-disabled-textbox {
  color: var(--filled-color);
}
.required-textbox {
  padding: 0;
  margin: 0;
}
.validation-fail {
  position: relative;
}
.validation-error {
  border-color: var(--validation-error-color);
}
.error-text {
  position: absolute;
  top: 1.9rem;
  right: var(--margin-width);
  color: var(--validation-error-color);
}
