.fixed-vertical-bar {
  display: flex;
  background-color: var(--vertical-navbar-background-color);
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.fixed-vertical-bar::-webkit-scrollbar {
  width: 5px;
}

.fixed-vertical-bar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.fixed-vertical-bar::-webkit-scrollbar-thumb {
  background-color: #3b82f6;
  outline: 1px solid #3b82f6;
}
.fixed-horizontal-bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  height: 4.5rem;
  background-color: var(--horizontal-navbar-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.li-element {
  list-style-type: none;
}
.component-details {
  margin: 0;
}

.nav-name {
  display: none;
}
.nav-icon {
  display: inline;
  color: var(--nav-icon-color);
  padding-left: 1rem;
}
.code {
  display: none;
}
.vertical-nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--vertical-navbar-background-color);
}

.navigation-option {
  display: block;
  font-size: large;
  cursor: pointer;
  padding: 1rem 0.5rem;
}
.navigation-top {
  padding: 0;
}
.navigation-top > a {
  height: 100%;
}
.active {
  color: var(--active-background-color);
}
.bordered {
  border: 1px solid var(--hover-background-color);
  width: 400px;
}
.bordered-centered {
  text-align: center;
  border-bottom: 1px solid var(--hover-background-color);
}
.bordered-centered:nth-last-child() {
  border-bottom: none;
}
.horizontal-nav-bar {
  margin: 0;
  padding: 0;

  list-style-type: none;
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.navigation-option-horizontal {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}
.navigation-option-horizontal .navigation-option {
  color: var(--black-font-color);
  text-align: center;

  text-decoration: none;
}
.navigation-option-horizontal .navigation-option:hover {
  background-color: var(--hover-background-color);
  color: var(--hover-font-color);
}
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: var(--horizontal-navbar-background-color);
}
.dropdown-content .dropdown-link {
  text-decoration: none;
  display: block;
  text-align: left;
  padding: 1rem;
  color: var(--black-font-color);
}
.dropdown-nav:hover .dropdown-content {
  display: block;
}
.dropdown-link:hover {
  background-color: var(--hover-background-color);
  color: var(--hover-font-color);
}
@media only screen and (min-width: 1100px) {
  .fixed-vertical-bar {
    display: block;
    width: 12rem;
    position: fixed;
    list-style-type: none;
    background-color: var(--fixed-vertical-navbar-background-color);
    top: 4.5rem;
  }
  .component-details {
    margin-top: 4.5rem;
  }
  .code {
    display: block;
    width: 100%;
  }
  .content {
    margin-left: 12rem;
    position: fixed;
    overflow-y: scroll;
    height: 100%;
    top: 0;
    padding: 0 2rem;
    margin-top: 4.5rem;
  }
  .nav-name {
    display: inline;
    color: black;
    font-size: large;
    margin-left: 1rem;
  }
  .navigation-option:hover {
    color: var(--active-background-color);
  }
  .navigation-option-horizontal .nav-icon {
    display: none;
  }
  .navigation-option-horizontal .nav-icon {
    margin: 0;
  }
  .navigation-option-horizontal .nav-name {
    display: inline;
  }
}
@media only screen and (min-width: 530px) {
  .navigation-top .nav-name {
    display: inline;
    margin-left: 1rem;
  }
  .navigation-option-horizontal .nav-icon {
    display: none;
  }
}
