.fixed-vertical-bar {
  display: flex;
  background-color: var(--vertical-navbar-background-color);
  position: fixed;
  bottom: 0;
  width:100%;
  justify-content: space-between;
  z-index: 3;
  margin:0;
  padding:0;
  overflow-x: scroll;
}
.fixed-horizontal-bar {
  position: fixed;
  top: 0;
  width: 100%;
}
.li-element{
  list-style-type: none;
}
.component-details {
  margin: 0;
  
}
.nav-avatar{
  float: right;
  margin: 1rem 1rem 1.2rem 2rem;
}
.nav-name{
  display: none;
}
.nav-icon{
  display: inline;
}
.code{
  display: none;
}
  .vertical-nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: var(--vertical-navbar-background-color);
  }
  
  .navigation-option {
    display: block;  
    font-size:large;
    cursor: pointer;
  }
  .navigation-top{
    padding: 1.5rem 0.5rem;
  }
  .navigation-bottom{
    padding: 1rem 0.5rem;
  }
  .active {
    color: var(--active-background-color);
  }
  .bordered {
    border: 1px solid var(--hover-background-color);
    width: 400px;
  }
  .bordered-centered {
    text-align: center;
    border-bottom: 1px solid var(--hover-background-color);
  }
  .bordered-centered:nth-last-child() {
    border-bottom: none;
  }
  .horizontal-nav-bar {
    margin: 0;
    padding: 0;
    background-color: var( --horizontal-navbar-background-color);
    list-style-type: none;
    z-index:2;
    height:4.5rem;
    display: flex;
    justify-content: space-between;
  }
  .navigation-option-horizontal {
    float: left;
  }
  .navigation-option-horizontal .navigation-option {
    color: var(--black-font-color);
    text-align: center;
   
    text-decoration: none;
  }
  .navigation-option-horizontal .navigation-option:hover {
    background-color: var(--hover-background-color);
    color: var(--hover-font-color)
  }
  
  /* DropDown content on Nav-Bar */
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: var(--horizontal-navbar-background-color);
  }
  .dropdown-content .dropdown-link {
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 1rem;
    color: var(--black-font-color);
  }
  .dropdown-nav:hover .dropdown-content {
    display: block;
  }
  .dropdown-link:hover {
    background-color: var(--hover-background-color);
    color: var(--hover-font-color);
  }
  @media only screen and (min-width: 1100px) {
    .fixed-vertical-bar {
      display: block;
      width: 14rem;
      height: 100%;
      position: fixed;
      list-style-type: none;
      margin: 0;
      margin-top: 4.5rem;
      padding: 0;
      padding-left:0.5rem;
      background-color: var(--fixed-vertical-navbar-background-color);
      top: 0;
    }
    .component-details {
      margin-left: 14rem;
      margin-top: 2rem;
      position: relative;
      top:3rem;
    }
    
   .code{
     display: block;
   }
   .nav-name{
     display: inline;
    margin-left: 1rem;
  }
  .navigation-option:hover {
    color: var(--active-background-color);
    
  
  }
  .navigation-option-horizontal .nav-icon{
    display: none;
  }
  .navigation-option-horizontal .nav-icon{
    margin:0;
  }
  .navigation-option-horizontal .nav-name{
    display: inline;
  }
  }
  @media only screen and (min-width: 530px) { 
    .navigation-top .nav-name{
      display: inline;
     margin-left: 1rem;
   }
   .navigation-option-horizontal .nav-icon{
    display: none;
  }
  
  }
  