.h1{
    font-size: calc(1.375rem + 1.5vw);
}
.h2{
    font-size: calc(1.325rem + .9vw);
}
.h3{
    font-size: calc(1.3rem + .6vw);
}
.h4{
    font-size: calc(1.275rem + .3vw);
}
.h5{
    font-size: calc(1.25rem );
}
.h6{
    font-size: calc(1rem);
}
.text-utilities{
    border: 1px solid  ;
    padding: 2rem;
    border-radius: 10px;
}
.text-sm{
    font-size:calc(0.6rem);
    padding:0.2rem;
}
.text-med{
    font-size:calc(0.8rem);
    padding:0.2rem;
}
.text-lg{
    font-size:calc(1.1rem);
    padding:0.2rem;
}
.text-gray{
    color:var(--gray-border);
}
.text-center{
    text-align: center;
}