.h1 {
  font-size: calc(1.375rem + 1.5vw);
  padding: 1rem 0;
  margin: 0 1rem;
}
.h2 {
  font-size: calc(1.325rem + 0.9vw);
  padding: 1rem 0;
  margin: 0 1rem;
}
.h3 {
  font-size: calc(1.3rem + 0.6vw);
  padding: 1rem 0;
  margin: 0 1rem;
}
.h4 {
  font-size: calc(1.275rem + 0.3vw);
  padding: 1rem 0;
  margin: 0 1rem;
}
.h5 {
  font-size: calc(1.25rem);
  padding: 1rem 0;
  margin: 0 1rem;
}
.h6 {
  font-size: calc(1rem);
  padding: 1rem 0;
  margin: 0 1rem;
}
.header {
  margin: var(--margin-width);
}
.text-utilities {
  border: 1px solid var(--gray-border);
  padding: 1rem;
  border-radius: 10px;
  margin: var(--margin-width);
  display: flex;
  align-items: center;
}
.text-util {
  width: 70%;
}
.text-sm {
  font-size: calc(0.7rem);
  padding: 0.2rem;
}
.text-md {
  font-size: calc(1rem);
  padding: 0.2rem;
}
.text-lg {
  font-size: calc(1.3rem);
  padding: 0.2rem;
}
.text-gray {
  color: var(--gray-border);
}
.text-center {
  text-align: center;
}
