  .toastBtn {
    padding: 1rem;
    background-color: var(--btn-primary-color);
    color: var(--white-color);
    cursor: pointer;
  }
  .toast-desc-1,
  .toast-desc-2 {
    visibility: hidden;
    border: 1px solid var(--white-color);
    padding: 1rem;
    background-color: var(--toast-background-color);
    width: 40%;
    text-align: center;
    left: 30%;
    border-radius: 5px;
    position: fixed;
    top: 80px;
    z-index:100;
  }
  .show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  @-webkit-keyframes fadein {
    from {
      top: 0;
      opacity: 0;
    }
    to {
      top: 80px;
      opacity: 1;
    }
  }
  @keyframes fadein {
    from {
      top: 0;
      opacity: 0;
    }
    to {
      top: 80px;
      opacity: 1;
    }
  }
  @-webkit-keyframes fadeout {
    from {
      top: 0;
      opacity: 0;
    }
    to {
      top: 80px;
      opacity: 1;
    }
  }
  @keyframes fadeout {
    from {
      top: 80px;
      opacity: 1;
    }
    to {
      top: 0;
      opacity: 0;
    }
  }
  