.lists {
    border: 1px solid black;
    padding: 2rem;
    border-radius: 10px;
    
  }
  .stacked-lists {
    list-style-type: none;
  }
  .stacked-list-item {
    padding: 1.5rem;
    border: 0.1rem solid rgb(235, 238, 240);
    border-bottom: none;
    background-color: rgba(206, 201, 201, 0.541);
    font-size: large;
  }
  .stacked-list-item:first-child {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  .stacked-list-item:nth-of-type(2) {
    border-bottom: 0.1rem solid rgb(235, 238, 240);
  
    position: relative;
  }
  .stacked-list-item:last-of-type{
    
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .selected-list {
    background-color: rgb(39, 104, 202);
  }
  .disabled {
    pointer-events: none;
    background-color: rgba(128, 128, 128, 0.247);
    color: rgba(0, 0, 0, 0.651);
  }
  .action-list {
    cursor: pointer;
    background-color: blueviolet;
  }
  .badges {
    background-color: rgb(223, 81, 76);
    padding: 0.4rem 0.8rem;
    border-radius: 50%;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
  }
  