<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./liststyles.css" />
    <title>List Component</title>
  </head>
  <body>
    <h1>Unordered Lists</h1>
    <div class="lists">
      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>Item 4</li>
      </ul>
    </div>
    <h1>Ordered Lists</h1>
    <div class="lists">
      <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>Item 4</li>
      </ol>
    </div>
    <h1>Stacked Lists</h1>
    <div class="lists">
      <ul class="stacked-lists">
        <li class="stacked-list-item">Simple List Item</li>
        <li class="stacked-list-item">
          List Item with Badge<span class="badges">4</span>
        </li>
        <li class="stacked-list-item disabled">Disabled List Item</li>
        <li class="stacked-list-item selected-list">Current Selected Item</li>

        <li class="stacked-list-item action-list">Action List Item</li>
      </ul>
    </div>
  </body>
</html>
