.modal {
    border: 1px solid black;
  
    
  }
  
  .modal-title {
    padding: 1rem;
  
    position: relative;
  }
  .close-modal {
    padding: 0rem 0.6rem 0.2rem 0.6rem;
    position: absolute;
    font-size: x-large;
    right: 2rem;
    bottom: 1.2rem;
  }
  .modal-btns {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
  }
  .modal-txt {
    text-align: center;
    font-size: larger;
  }
  .modal-btn {
    padding: 1rem;
    margin-right: 0.5rem;
    font-size: medium;
  }
  