.h1{
    font-size: calc(1.375rem + 1.5vw);
}
.h2{
    font-size: calc(1.325rem + .9vw);
}
.h3{
    font-size: calc(1.3rem + .6vw);
}
.h4{
    font-size: calc(1.275rem + .3vw);
}
.h5{
    font-size: calc(1.25rem );
}
.h6{
    font-size: calc(1rem);
}
.text-utilities{
    border: 1px solid black;
    padding: 2rem;
    border-radius: 10px;

    max-width: 40%;
}
.small-text{
    font-size:calc(0.6rem);
    padding:0.2rem;
}
.medium-text{
    font-size:calc(0.8rem);
    padding:0.2rem;
}
.large-text{
    font-size:calc(1.1rem);
    padding:0.2rem;
}
.gray-text{
    color:gray;
}
.center-text{
    text-align: center;
}