<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./textutilitiesstyles.css">
    <title>Document</title>
</head>
<body>
    <div class="h1">Headers</div>
    <div class="text-utilities">
    <div class="h1">h1. Heading</div>
    <div class="h2">h2. Heading</div>
    <div class="h3">h3. Heading</div>
    <div class="h4">h4. Heading</div>
    <div class="h5">h5. Heading</div>
    <div class="h6">h6. Heading</div>
</div>
<div class="h1">Text Sizes</div>
    <div class="text-utilities">
    <div class="small-text">This is a small sized text</div>
    <div class="medium-text center-text">This is a medium sized center text</div>
    <div class="large-text gray-text">This is a large sized gray color text</div>
  
</div>
</body>
</html>