body {
    font-family: Arial, Helvetica, sans-serif;
  }
  .alerts {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 2rem;
  }
  .alert {
    padding: 1rem;
    margin: 1rem;
  }
  .alert-text {
    position: relative;
    bottom: 1rem;
  }
  .alert-icon {
    width: 4%;
  }
  .error-alert {
    background-color: rgb(255, 68, 61);
  }
 
  .warning-alert {
    background-color: rgb(253, 193, 108);
  }
  .info-alert {
    background-color: rgb(185, 219, 245);
  }
  .success-alert {
    background-color: rgb(147, 243, 147);
  }
  .alert-header {
    position: relative;
    bottom: 0.7rem;
    left: 0.2rem;
    font-size: x-large;
  }
  .desc-alert-text {
    position: relative;
    font-size: small;
    bottom: 0.2rem;
  }
  